.btn{
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 3rem;
    display: inline-block;
    border-radius: .5rem;
    transition: all .2s;
    font-size:1.4rem;
    background-color: $black-cherry-color;
    color:$white;
    cursor: pointer;


    &:hover{
        background-color: $black;
        color:$light-gray;
        box-shadow: 1rem 1rem 2rem rgba($black-cherry-color,.5);
    }
}


section{
    padding:7rem 9%;
}

.heading{
    position: absolute;
    top:3rem;
    left:50%;
    transform: translateX(-50%);
    font-size:4rem;
    -webkit-text-stroke: 1px $dusty-rose;
    color:transparent;
    background-image: linear-gradient($dusty-rose,$dusty-rose);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position:-18rem 0 ;
    animation: heading 5s linear infinite alternate;
}