.btn{
    text-transform: uppercase;
    text-decoration: none;
    padding: .5rem 3rem;
    display: inline-block;
    border-radius: .5rem;
    transition: all .2s;
    font-size:1.4rem;
    background-color: $black-cherry-color;
    color:$white;
    cursor: pointer;


    &:hover{
        background-color: $black;
        color:$light-gray;
        box-shadow: 1rem 1rem 2rem rgba($black-cherry-color,.5);
    }
}


section{
    padding:7rem 9%;
}